<mat-card>
  <mat-card-content>
    <form class="user-form" #useForm="ngForm" appPasswordConfirmationValidator>
      <div class="user-form__row">
        <mat-form-field class="user-form__item user-form__item-100">
          <mat-label>Nome:</mat-label>
          <input
            type="text"
            matInput
            placeholder="Nome"
            name="nome"
            [(ngModel)]="userSelected.name"
            required
          />
          <mat-error>O <strong>nome</strong> é obrigatório</mat-error>
        </mat-form-field>
      </div>
      <div class="user-form__row">
        <mat-form-field class="user-form__item user-form__item-50">
          <mat-label>Usuário:</mat-label>
          <input
            type="text"
            matInput
            placeholder="Usuário"
            name="usuario"
            [(ngModel)]="userSelected.username"
            [ngModelOptions]="{ updateOn: 'blur' }"
            #usernameControl="ngModel"
            [appCredentialsValidator]="'username'"
            required
          />
          <mat-hint>
            O <strong>Usuário</strong> será utilizado para o login.
          </mat-hint>
          @if(usernameControl.hasError('required')){
          <mat-error>O <strong>usuário</strong> é obrigatório</mat-error>
          } @else if(usernameControl.hasError('invalidUsername')){
          <mat-error>
            Este <strong>usuário</strong> já está sendo utilizado
          </mat-error>
          }
        </mat-form-field>
        <mat-form-field class="user-form__item user-form__item-50">
          <mat-label>Email:</mat-label>
          <input
            matInput
            type="email"
            placeholder="Email"
            appEmailPatternValidator
            name="email"
            #emailControl="ngModel"
            [(ngModel)]="userSelected.email"
            [ngModelOptions]="{ updateOn: 'blur' }"
            [appCredentialsValidator]="'email'"
            required
          />
          @if(emailControl.hasError('required')){
          <mat-error>O <strong>email</strong> é obrigatório</mat-error>
          } @else if (emailControl.hasError('invalidEmailPattern')) {
          <mat-error>O <strong>email</strong> é inválido</mat-error>
          } @else if (emailControl.hasError('invalidEmail')) {
          <mat-error>
            Este <strong>email</strong> já está sendo utilizado
          </mat-error>
          }
        </mat-form-field>
      </div>
      <div class="user-form__row">
        <mat-form-field class="user-form__item user-form__item-50">
          <mat-label>Senha:</mat-label>
          <input
            autocomplete="one-time-code"
            matInput
            type="password"
            name="senha"
            [(ngModel)]="userSelected.password"
            (ngModelChange)="onPasswordChange($event)"
            #passwordControl="ngModel"
            appPasswordStrengthValidator
            required
          />
          @if(passwordControl.hasError('required')){
          <mat-error>A <strong>Senha</strong> é obrigatória.</mat-error>
          } @else if(passwordControl.hasError('invalidPasswordStrength')){
          <mat-error>Digite uma senha <strong>mais forte</strong>.</mat-error>
          }
          <mat-progress-bar
            mode="determinate"
            [value]="passwordStrengthValue"
            [ngClass]="{
              'weak-password': passwordStrengthValue === 0 || passwordStrengthValue === 30,
              'medium-password': passwordStrengthValue === 60,
              'strong-password': passwordStrengthValue === 100,
            }"
          ></mat-progress-bar>
        </mat-form-field>
        <mat-form-field class="user-form__item user-form__item-50">
          <mat-label>Confirmação de Senha:</mat-label>
          <input
            autocomplete="one-time-code"
            type="password"
            name="confirmacaoSenha"
            matInput
            ngModel
            #passwordConfirmationControl="ngModel"
            required
          />
          @if(passwordConfirmationControl.hasError('required')){
          <mat-error>
            A <strong>Confirmação de senha</strong> é obrigatória.
          </mat-error>
          } @else if
          (passwordConfirmationControl.hasError('invalidPasswordConfirmation'))
          {
          <mat-error> As <strong>Senhas</strong> estão incorretas. </mat-error>
          }
        </mat-form-field>
      </div>
      <div class="user-form__row">
        <mat-form-field class="user-form__item user-form__item-50">
          <mat-label>Data de Nascimento</mat-label>
          <input
            matInput
            [matDatepicker]="picker"
            [min]="minDate"
            [max]="maxDate"
            name="dataNascimento"
            [ngModel]="dateValue"
            (dateChange)="onDateChange($event)"
            readonly
            required
          />
          <mat-hint>DD/MM/YYYY</mat-hint>
          <mat-datepicker-toggle
            matIconSuffix
            [for]="picker"
          ></mat-datepicker-toggle>
          <mat-datepicker #picker>
            <mat-datepicker-actions>
              <button mat-button matDatepickerCancel>Cancelar</button>
              <button mat-raised-button matDatepickerApply color="primary">
                Confirmar
              </button>
            </mat-datepicker-actions>
          </mat-datepicker>
          <mat-error>
            <strong>Data de Nascimento</strong> é obrigatória
          </mat-error>
        </mat-form-field>
        <mat-form-field class="user-form__item user-form__item-50">
          <mat-label>Estado</mat-label>
          <mat-select name="estado" [(ngModel)]="userSelected.state" required>
            <mat-option>-</mat-option>
            @for (state of statesList; track $index) {
            <mat-option [value]="state.id">{{ state.descricao }}</mat-option>
            }
          </mat-select>
          <mat-error>O <strong>estado</strong> é obrigatório</mat-error>
        </mat-form-field>
      </div>
    </form>
  </mat-card-content>
</mat-card>
