.user-form {
  height: 100%;
  padding: 1.25rem;

  &__row {
    display: flex;
    width: 100%;
  }
  &__item {
    padding: 0.25rem;
  }
  &__item-50 {
    width: 50%;
  }
  &__item-100 {
    width: 100%;
  }
}
