.user-form {
  height: 100%;
  padding: 1.25rem;

  &__row {
    display: flex;
    width: 100%;
  }
  &__item {
    padding: 0.25rem;
  }
  &__item-50 {
    width: 50%;
  }
  &__item-100 {
    width: 100%;
  }

  &__musics {
    width: 100%;
    padding: 20px;
    &-title {
      padding: 20px;
    }
  }

  &__button-container {
    justify-content: end;
  }
}

.weak-password {
  ::ng-deep &.mat-mdc-progress-bar.mat-primary {
    --mdc-linear-progress-active-indicator-color: #f84633 !important;
  }
}
.medium-password {
  ::ng-deep &.mat-mdc-progress-bar.mat-primary {
    --mdc-linear-progress-active-indicator-color: #f3b634 !important;
  }
}
.strong-password {
  ::ng-deep &.mat-mdc-progress-bar.mat-primary {
    --mdc-linear-progress-active-indicator-color: #32c434 !important;
  }
}
